<b><div class="header" id="id01">LOADING <br> </div></b>




<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   z-index: 100; 
}
</style>
</head>
<body>



<div class="footer">
  <p><a  href="#" id="mySizeChart"  style=" color:white;font-weight:bold;font-size: 70%;  margin-left: 120; float: right;  margin-right: 15;"> HISTORY</a>	</p>
</div>

</body>
</html> 




<!DOCTYPE html>
<html lang="en" >
<head>


  
  <title>C.G COVID-19 STATUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

 
<link rel='stylesheet' href='./stylenew.css'><link rel="stylesheet" href="./style.css">
 
</head>
<body>
<style>
.header {
  font-size: 18px;
  background-color:black;
  color:white;
  text-align: center;
  }
  
  
  HTML CSSResult Skip Results Iframe
body {
  background-color: black;
  color:white;
}


.glow {
  font-size: 40px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px xyan, 0 0 60px cyan, 0 0 70px cyan;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}


Resources1× 0.5× 0.25×Rerun
  
</style>





<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
    display: grid;
    
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div  {
    background-color: WHITE;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.item1 {
  grid-row: 1 / span 2;
}
</style>
</head>
<body>



<div class="grid-container">
  
    <div class="item1">POSITIVE <br> 698</div>
  <div class="item1">RECOVERED <br> 29</div>
  <div class="item1">DECEASED <br> -</div>  
  <div class="item1">ACTIVE <br> 1942</div>



</div>
 <p style="color:black;     margin-left: 0px; float: center; font-size: 9px;"><b>(Last Update:  03-01-22 10:20pm)</b></p>
<hr/>

</body>
</html>








<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CodePen - Responsive Admin Dashboard Page HTML, CSS And Javascript - CSS Admin Template</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css'><link rel="stylesheet" href="./chart.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="graph-card">

  <div class="graph-content">
    <div class="graph-head">
      <div class="icon-wrapper">

      </div>
      <div class="graph-select">

      </div>
    </div>
    <div class="graph-board">
      <canvas id="revenueChart" width="100%"></canvas>
    </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'></script><script  src="./chart.js"></script>

</body>
</html>




<style>
.buttonbg {
 background-color: #000000; 
 text-align: center;



 

 }

.btn-group .button {
  background-color: #000000; 
  border: 0px solid green;
  color: white;
  padding: 5px 12px;
  text-align: center;
  font-size: 16px;


}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
  text-align: center;
}

.btn-group .button:hover {
  background-color: #3e8e41;
text-align: center;
  
}
</style>


	  
	  
	  
	  










<!-- partial:index.partial.html -->



<html>
  <head></head>
 
<div class="global-wrapper" ng-app="myApp">




 
    
  <div class="container">
    <div class="row panel panel-primary" ng-controller="homeCtrl">
      <div class="panel-heading">
  
      </div>
      
	  
	  
	  
			
			
			<style>
div {
  border: 0px solid gray;
  padding: 0px;
  text-align: left;
}

h1 {
  text-align: left;
  
  color: #4CAF50;
}


.topic {
  text-indent: 0px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  }

.sam {
padding-left: 20px;
  text-indent: 0px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
}

a {
  text-decoration: none;
  color: red;
  text-align: center;
}
</style>
</head>
<body>







<div>
 
  

	 

      <!--     food list   	 -->
      <div class="col-xs-5 panel-body">
        <ul class="list-group">





		  <p  style="color:BLACK;  PADDING: 0 6PX;      FONT-SIZE: 11;   margin-top: 14;"><b>CLICK THE DATE BELOW TO SEE C.G COVID-19 DATA DISTRICT WISE</b></p> <hr>
		  
           <!-- <input class="form-control" placeholder="Search a area" type="text" ng-model="searchText">-->
            <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: '' | filter: searchText "></contact>
          </li>
        </ul> 
      </div>
      
	  
<style>/* The Modal (background) */
.ebcf_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.ebcf_modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.ebcf_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ebcf_close:hover,
.ebcf_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} </style>		  
		  
		  


<div id="mySizeChartModal" class="ebcf_modal">

  <div class="ebcf_modal-content">
    <span class="ebcf_close">&times;</span>
   <p>Omicron Cases Date Wise</p>
<div style=" font-weight:bold; ">04-01-22</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	1892 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	766	</div> <br></hr> 
<div style=" font-weight:bold; ">03-01-22</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	1700 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	639	</div> <br></hr> 
<div style=" font-weight:bold; ">02-01-22</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	1525 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	560	</div> <br></hr> 
<div style=" font-weight:bold; ">01-01-22</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	1431 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	488	</div> <br></hr> 
<div style=" font-weight:bold; ">31-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	1270 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	374	</div> <br></hr> 
<div style=" font-weight:bold; ">30-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	961 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	320	</div> <br></hr> 
<div style=" font-weight:bold; ">29-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	781 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	241	</div> <br></hr>
<div style=" font-weight:bold; ">28-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	653 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	186	</div> <br></hr>
<div style=" font-weight:bold; ">27-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	578 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	151	</div> <br></hr>
<div style=" font-weight:bold; ">26-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	422 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	130	</div> <br></hr>
<div style=" font-weight:bold; ">25-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	415 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	115	</div> <br></hr>  
<div style=" font-weight:bold; ">24-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	358 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	114	</div> <br></hr>
<div style=" font-weight:bold; ">23-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	236 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	104	</div> <br></hr> 
<div style=" font-weight:bold; ">22-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	213 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	90	</div> <br></hr>
<div style=" font-weight:bold; ">21-12-21</span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	200 	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	77	</div> <br></hr> 
 </div>

</div>
	


<script  src="./modal.js"></script>  

	  
      <!--   ng-view below       -->
      <div class="col-xs-7">
        <div class="list-group panel-body">
          <div ng-view></div>
        </div>
      </div>
      
      <!-- footer -->
      <div class="panel-heading">
        <div class="row text-center" id="footer"> <!-- for footer -->
      
    </div> <!-- end footer -->
      </div>
        
    </div>
  </div>

    <!--  html templates used by angular, usually in separate files -->
    <script type="text/ng-template" id="default.html">
      <div class="alert alert-success text-center" ng-class="{hidden : !removed}"> {{removed}}</div>


      



</head>
<body>



</body>
</html>














<style>
.line {
    color: rgb(185,74,72);
    background-color: white;
    font-size: 15px;
    color: black;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 12;
    border: 1px solid rgb(238,211,215);

    margin-left: -2px;
    width: 210px;
}
  
  .lockdown {
  font-size: 12px;
  color:red;
  text-align: left;
   font-weight: bold;
   padding-left: 0px;
 font-size: 10px;
  }
  
  .open {
  font-size: 12px;
  color:green;
  text-align: left;
   font-weight: bold;
   padding-left:0px;
    font-size: 10px;
  }
  
  
  
</style>
 

<p style="color:white; background:black; PADDING: 0 6PX; margin-top: 14;     margin-left: -2px;
    width: 110%;  "><b>OMICRON CASES IN  INDIA</b></p>
	<p style="color:black;     margin-left: -2px; font-size: 9px;"><b>Last Update:  04-01-22</b></p>  
<div class="line">
   
<div style=" font-weight:bold; "></span> <br> <span style=" font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:red;  padding:3px; ">  POSITIVE- 	1892	</span> &nbsp; <span style="  font-weight:bold; color:white;font-weight:bold;font-size: 70%; background:green; padding:4px; "> RECOVERED-	766	</div> <br> 
1)	Delhi	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	382	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	57	</span> <br><br>
2)	Maharashtra	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	568	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	259	</span> <br><br>
3)	Gujarat	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	152	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	85	</span> <br><br>
4)	Rajasthan	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	174	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	88	</span> <br><br>
5)	Kerala	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	185 	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	58	</span> <br><br>
6)	Telangana	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	67	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	27	</span> <br><br>
7)	Tamil Nadu	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	121	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	100	</span> <br><br>
8)	Karnataka	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	64	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	18	</span> <br><br>
9)	Andhra Pradesh	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	17	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	3	</span> <br><br>
10)	Haryana	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	63	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	40	</span> <br><br>
11)	West Bengal	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	20	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	4	</span> <br><br>
12)	Madhya Pradesh	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	9	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	9	</span> <br><br>
13)	Odisha	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	37	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	1	</span> <br><br>
14)	Uttarakhand	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	8	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	5	</span> <br><br>
15)	Chandigarh	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	3	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	2	</span> <br><br>
16)	Jammu and Kashmir	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	3	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	3	</span> <br><br>
17)	Uttar Pradesh	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	8	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	4	</span> <br><br>
18)	Goa	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	5	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	0	</span> <br><br>
19)	Himachal Pradesh	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	1	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	1	</span> <br><br>
20)	Ladakh	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	1	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	1	</span> <br><br>
21)	Manipur	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	1	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	0	</span> <br><br>
22)	Punjab	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	1	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	1	</span> <br><br>
23)	Andaman & Nicobar	<span style=" color:red;font-weight:bold;font-size: 70%; ">  <br>   POSITIVE-	2	</span> &nbsp; <span style=" color:GREEN;font-weight:bold;font-size: 70%; "> RECOVERED-	0	</span> <br><br>





</h1></div> <hr/>


<!--

<p style="color:white; background:black;  "><b><u>27-12-21 (3:25 pm)</b></u></p>
<div class="line">Night curfews are back in states and union territories.  <br>
Night curew in delhi <br>
Night curew in karnataka<br>
Night curew in assam<br>
Night curew in uttar pradesh<br>
Night curew in haryana<br>
Night curew in madhya pradesh<br>
Night curew in gujarat<br>
Night curew in maharashtra<br>
</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>27-12-21 (3:25 pm)</b></u></p>
<div class="line">Goa detects first Omicron case in 8-year-old UK-returnee</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>27-12-21 (12:36 pm)</b></u></p>
<div class="line">India logs highest single day rise of Omicron cases, tally climbs to 578</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>25-12-21 (01:45 pm)</b></u></p>
<div class="line">A total of 415 cases of Omicron variant of coronavirus have been detected in India so far.</h1></div> <hr/>


<p style="color:white; background:black;"><b><u>24-12-21 (03:28 pm)</b></u></p>
<div class="line"> Night curfew in Uttar Pradesh from Dec 25</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>24-12-21 (03:19 pm)</b></u></p>
<div class="line"> Omicron tally rises to 358..</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>23-12-21 (07:57 pm)</b></u></p>
<div class="line"> Madhya Pradesh reimposes night curfew from 11 pm to 5 am amid Omicron scare</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>23-12-21 (07:57 pm)</b></u></p>
<div class="line"> India's Omicron tally crosses 300-mark</h1></div> <hr/>


<p style="color:white; background:black;"><b><u>23-12-21 (03:21 pm)</b></u></p>
<div class="line"> India has recorded 236 cases of the Omicron variant of coronavirus across 16 states and UTs so far out of which 104 people have recovered or migrated, according to the Union Health Ministry data.</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>21-12-21 (01:43 pm)</b></u></p>
<div class="line">34 new cases reported in delhi takes tally in india to 200..</h1></div> <hr/>

<p style="color:white; background:black;"><b><u>21-12-21 (10:59 am)</b></u></p>
<div class="line"> 19 Omicron cases from 5 states takes tally in India to 174.</h1></div> <hr/>



<p style="color:white; background:black;"><b><u>20-12-21 (12:02 am)</b></u></p>
<div class="line">Omicron tally rises to 163 in India..</h1></div> <hr/>


<p  style="color:white; background:black;"><b><u>20-12-21 (11:58 am)</b></u></p>
<div class="line">India's Omicron case count is now at least 163. According to central and state officials, Omicron cases have been detected in: <br> Maharashtra (54)<br> Delhi (24) <br> Rajasthan (17) <br>  Karnataka (19) <br> Telangana (20) <br> Gujarat (11) <br> Kerala (11) <br> Andhra Pradesh (1)<br> Chandigarh (1)<br> Tamil Nadu (1) <br> West Bengal (4)</h1></div> <hr/>

<p  style="color:white; background:black;"><b><u>16-12-21 (1:34 pm)</b></u></p>
<div class="line">4 more cases in Kerala 1 in Tamil Nadu india. Omicron tally rises to 77 in India..</h1></div> <hr/>


<p  style="color:white; background:black;"><b><u>15-12-21 (3:24 pm)</b></u></p>
<div class="line">West Bengal reports its first Omicron case. Omicron tally rises to 65 in India..</h1></div> <hr/>

<p  style="color:white; background:black;"><b><u>15-12-21</b></u></p>
<div class="line">
Omicron data states wise <br>
andhra  pradesh:	1 <br>
delhi:	6<br>
gujarat:	4<br>
karnataka:	3<br>
kerala:	1<br>
maharastra:	28<br>
rajasthan:	17<br>
telangana:	3<br>
</h1></div> <hr/>





<p  style="color:white; background:black;"><b><u>15-12-21</b></u></p>
<div class="line">3 Omicron cases have been detected in Telangana, India tally at 64.</h1></div> <hr/>

<p  style="color:white; background:black;"><b><u>14-12-21</b></u></p>
<div class="line">Omicron update: Four new cases detected in Delhi, India tally at 49.</h1></div> <hr/>

<p  style="color:white; background:black;"><b><u>13-12-21</b></u></p>
<div class="line">Three new Omicron cases from Maharashtra, Gujarat; India tally mounts to 41.</h1></div> <hr/>
	  

<p  style="color:white; background:black;"><b><u>13-12-21</b></u></p>
<div class="line">1,00,22,404 people are fully vaccinated in chhattisgarh. Eligible population vaccinated with first dose 91% both doses 51% .</h1></div> <hr/>
	  
<p  style="color:white; background:black;"><b><u>03-12-21</b></u></p>
<div class="line">28 persons likely infected with Omicron variant in Maharashtra.</h1></div> <hr/>

<p  style="color:white; background:black;"><b><u>02-12-21</b></u></p>
<div class="line">Two men in the southern Indian state of Karnataka have tested positive for the Omicron coronavirus variant after returning from overseas.</h1></div> <hr/>

-->

			


			
		

	  
	  
	  
    </script>



	  <!-- 	template for displaying a contacts info	 -->
    <script type="text/ng-template" id="contact_info.html">
      
	  <style>


h1  {
    background-color: GREY;
    color: #FFFFFF;
    FONT-SIZE: 14PX;
    text-align: LEFT;
    height: 22px;
    border-radius: 15px 50px;
    PADDING: 3px 9px;
}

h2 {
  
  border: 0px solid white;
  font-size: 25px;
   color: #000000;
   text-align: left;
  
}

</style>

	  <div class="list-group-item1">



   <span style="
    
   
   color: red;
    padding: 150px 19px;
    font-weight: bold;
    font-size: 13;
    position: fixed;
    background-color: white;
    margin-top: -75px;
    width: 110%;
    text-align: left;
    margin-left: -218px;
    height: 339px;
    z-index: -1;
 " >  <span style="  background: red;
    color: white;
    padding: 10px 35px;
    margin-bottom: 30px; ">Positive:  {{currentContact.positive}}</span> <br>  <br><br> <span style="  background: green;
    color: white;
    padding: 10px 30px;
    margin-bottom: 30px; ">  Recovered: {{currentContact.recoverd}} </span> <br>  <br> <br>   <span style="  background: black;
    color: white;
    padding: 10px 49px;
    margin-bottom: 30px; "> Death: {{currentContact.death}} </span> <br> <br> <br>   <span style="  background: orange;
    color: white;
    padding: 10px 38px;
    margin-bottom: 30px; "> Active: {{currentContact.total}} </span> </span>
	   
	   
	   
	   

        <p><b> <h1> {{currentContact.customer1}} </h1> {{currentContact.toys1}} 
		{{currentContact.url1}} <br>{{currentContact.amount1}}</a> 
		<br>	{{currentContact.GIFTS1}} <br>
	{{currentContact.urlg1}}{{currentContact.amountg1}}</a> <br>
	
		
		
		
		
		
		
	
		<br> 
        
		       <p><b> <h1> {{currentContact.customer2}} </h1>  {{currentContact.toys2}} 
		{{currentContact.url2}} <br>{{currentContact.amount2}}</a> 
		<br>	{{currentContact.GIFTS2}} <br>
	{{currentContact.urlg2}}{{currentContact.amountg2}}</a> <br><br> 
	
	
	       <p><b> <h1> {{currentContact.customer3}} </h1> {{currentContact.toys3}} 
		{{currentContact.url3}} <br>{{currentContact.amount3}}</a> 
		<br>	{{currentContact.GIFTS3}} <br>
	{{currentContact.urlg3}}{{currentContact.amountg3}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer4}} </h1>  {{currentContact.toys4}} 
		{{currentContact.url4}} <br>{{currentContact.amount4}}</a> 
		<br>	{{currentContact.GIFTS4}} <br>
	{{currentContact.urlg4}}{{currentContact.amountg4}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer5}} </h1> {{currentContact.toys5}} 
		{{currentContact.url5}} <br>{{currentContact.amount5}}</a> 
		<br>	{{currentContact.GIFTS5}} <br>
	{{currentContact.urlg5}}{{currentContact.amountg5}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer6}} </h1> {{currentContact.toys6}} 
		{{currentContact.url6}} <br>{{currentContact.amount6}}</a> 
		<br>	{{currentContact.GIFTS6}} <br>
	{{currentContact.urlg6}}{{currentContact.amountg6}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer7}} </h1>  {{currentContact.toys7}} 
		{{currentContact.url7}} <br>{{currentContact.amount7}}</a> 
		<br>	{{currentContact.GIFTS7}} <br>
	{{currentContact.urlg7}}{{currentContact.amountg7}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer8}} </h1> {{currentContact.toys8}} 
		{{currentContact.url8}} <br>{{currentContact.amount8}}</a> 
		<br>	{{currentContact.GIFTS8}} <br>
	{{currentContact.urlg8}}{{currentContact.amountg8}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer9}} </h1> {{currentContact.toys9}} 
		{{currentContact.url9}} <br>{{currentContact.amount9}}</a> 
		<br>	{{currentContact.GIFTS9}} <br>
	{{currentContact.urlg9}}{{currentContact.amountg9}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer10}} </h1>  {{currentContact.toys10}} 
		{{currentContact.url10}} <br>{{currentContact.amount10}}</a> 
		<br>	{{currentContact.GIFTS10}} <br>
	{{currentContact.urlg10}}{{currentContact.amountg10}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer11}} </h1>  {{currentContact.toys11}} 
		{{currentContact.url11}} <br>{{currentContact.amount11}}</a> 
		<br>	{{currentContact.GIFTS11}} <br>
	{{currentContact.urlg11}}{{currentContact.amountg11}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer12}} </h1> {{currentContact.toys12}} 
		{{currentContact.url12}} <br>{{currentContact.amount12}}</a> 
		<br>	{{currentContact.GIFTS12}} <br>
	{{currentContact.urlg12}}{{currentContact.amountg12}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer13}} </h1> {{currentContact.toys13}} 
		{{currentContact.url13}} <br>{{currentContact.amount13}}</a> 
		<br>	{{currentContact.GIFTS13}} <br>
	{{currentContact.urlg13}}{{currentContact.amountg13}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer14}} </h1>  {{currentContact.toys14}} 
		{{currentContact.url14}} <br>{{currentContact.amount14}}</a> 
		<br>	{{currentContact.GIFTS14}} <br>
	{{currentContact.urlg14}}{{currentContact.amountg14}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer15}} </h1> {{currentContact.toys15}} 
		{{currentContact.url15}} <br>{{currentContact.amount15}}</a> 
		<br>	{{currentContact.GIFTS15}} <br>
	{{currentContact.urlg15}}{{currentContact.amountg15}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer16}} </h1> {{currentContact.toys16}} 
		{{currentContact.url16}} <br>{{currentContact.amount16}}</a> 
		<br>	{{currentContact.GIFTS16}} <br>
	{{currentContact.urlg16}}{{currentContact.amountg16}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer17}} </h1>  {{currentContact.toys17}} 
		{{currentContact.url17}} <br>{{currentContact.amount17}}</a> 
		<br>	{{currentContact.GIFTS17}} <br>
	{{currentContact.urlg17}}{{currentContact.amountg17}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer18}} </h1>  {{currentContact.toys18}} 
		{{currentContact.url18}} <br>{{currentContact.amount18}}</a> 
		<br>	{{currentContact.GIFTS18}} <br>
	{{currentContact.urlg18}}{{currentContact.amountg18}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer19}} </h1>  {{currentContact.toys19}} 
		{{currentContact.url19}} <br>{{currentContact.amount19}}</a> 
		<br>	{{currentContact.GIFTS19}} <br>
	{{currentContact.urlg19}}{{currentContact.amountg19}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer20}} </h1> {{currentContact.toys20}} 
		{{currentContact.url20}} <br>{{currentContact.amount20}}</a> 
		<br>	{{currentContact.GIFTS20}} <br>
	{{currentContact.urlg20}}{{currentContact.amountg20}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer21}} </h1> {{currentContact.toys21}} 
		{{currentContact.url21}} <br>{{currentContact.amount21}}</a> 
		<br>	{{currentContact.GIFTS21}} <br>
	{{currentContact.urlg21}}{{currentContact.amountg21}}</a> <br><br> 
	
	  <p><b> <h1> {{currentContact.customer22}} </h1>  {{currentContact.toys22}} 
		{{currentContact.urL22}} <br>{{currentContact.amount22}}</a> 
		<br>	{{currentContact.GIFTS22}} <br>
	{{currentContact.urlg22}}{{currentContact.amountg22}}</a> <br><br> 
	
	 <p><b> <h1> {{currentContact.customer23}} </h1>  {{currentContact.toys23}} 
		{{currentContact.urL23}} <br>{{currentContact.amount23}}</a> 
		<br>	{{currentContact.GIFTS23}} <br>
	{{currentContact.urlg23}}{{currentContact.amountg23}}</a> <br><br> 
	
	 <p><b> <h1> {{currentContact.customer24}} </h1> {{currentContact.toys24}} 
		{{currentContact.urL24}} <br>{{currentContact.amount24}}</a> 
		<br>	{{currentContact.GIFTS24}} <br>
	{{currentContact.urlg24}}{{currentContact.amountg24}}</a> <br><br> 
	
	 <p><b> <h1> {{currentContact.customer25}} </h1> {{currentContact.toys25}} 
		{{currentContact.urL25}} <br>{{currentContact.amount25}}</a> 
		<br>	{{currentContact.GIFTS25}} <br>
	{{currentContact.urlg25}}{{currentContact.amountg25}}</a> <br><br> 
	
	 <p><b> <h1> {{currentContact.customer26}} </h1> {{currentContact.toys26}} 
		{{currentContact.urL26}} <br>{{currentContact.amount26}}</a> 
		<br>	{{currentContact.GIFTS26}} <br>
	{{currentContact.urlg26}}{{currentContact.amountg26}}</a> <br><br> 
	
	 <p><b> <h1> {{currentContact.customer27}} </h1> {{currentContact.toys27}} 
		{{currentContact.urL27}} <br>{{currentContact.amount27}}</a> 
		<br>	{{currentContact.GIFTS27}} <br>
	{{currentContact.urlg27}}{{currentContact.amountg27}}</a> <br><br> 
	
	 <p><b> <h1> {{currentContact.customer28}} </h1> {{currentContact.toys28}} 
		{{currentContact.urL28}} <br>{{currentContact.amount28}}</a> 
		<br>	{{currentContact.GIFTS28}} <br>
	{{currentContact.urlg28}}{{currentContact.amountg28}}</a> <br><br> 
		
		
			 <p><b> <h1> {{currentContact.customer29}} </h1> {{currentContact.toys29}} 
		{{currentContact.urL29}} <br>{{currentContact.amount29}}</a> 
		<br>	{{currentContact.GIFTS29}} <br>
	{{currentContact.urlg29}}{{currentContact.amountg29}}</a> <br><br> 
		
	
		<br> 
	
		
	
		<br> 
		
      </div>
    </script>
	
	
	
	


<style>
div.a {
  font-size: 10px;
}

div.b {
  font-size: large;
}

div.c {
  font-size: 150%;
}
</style>

<!--      template used for the ng-repeat in the contact list        -->
    <script type="text/ng-template" id="contact.html">
      <a ng-href="#/contact-info/{{contacts.indexOf(contact)}}">
       <span style="color:#000000;font-weight:bold;font-size: 95%"> {{contact.name}} </span> <span style="color:red;font-weight:bold;font-size: 70%">POSITIVE:{{contact.positive}}</span>
      </a>
    </script>
  </div>
    
    </body>
  </html>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js'></script><script  src="./script.js"></script>