<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Angular Material Design Tabs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html  ng-app="tabApp" >
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
  
  
<div class="sample" 
     ng-controller="TabCtrl" class="md-padding">

 <md-card >
   <md-tabs md-selected="data.selectedIndex" md-align-tabs="top">
   <!-- <md-tabs md-selected="TabCtrl.selectedIndex" md-border-bottom md-autoselect>
      <md-tab ng-repeat="tab in tabs"
       label="{{tab.title}}">
        <div ng-bind="tab.desc">{{ tab.desc}}</div>
      </md-tab>
    </md-tabs>  -->
	
	
	
	<style>
	

	
	
	.danger {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0px 0px;
}

.title {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0px 60px;
    font-size: 21px;
   float: left;
    width:100%
}


.safe
{

   background-color: white;
    color: black;
    font-weight: bold;
    padding: 0px 0px;
}
	</style>
   
    <md-tab id="tab-1" ng-repeat="tab in tabs">
          <md-tab-label>{{tab.name}}</md-tab-label>
		  
		  <br>
          <md-tab-body>
              <span class="title" >{{tab.customer1}}  </span> <br>   <span class="danger" >{{tab.toys1}}  </span> <br> <span class="safe" > {{tab.amount1}} <br> {{tab.GIFTS1}}<br> {{tab.amountg1}} </span> <br> <hr>
			  <span class="title" > {{tab.customer2}}</span> <br> <span class="danger" >{{tab.toys2}}</span><br> <span class="safe" >{{tab.amount2}} <br> {{tab.GIFTS2}}<br> {{tab.amountg2}}  <br> <hr>
			  <span class="title" > {{tab.customer3}}</span> <br> <span class="danger" >{{tab.toys3}}</span><br> <span class="safe" >{{tab.amount3}} <br> {{tab.GIFTS3}}<br> {{tab.amountg3}}  <br> <hr>
			   <span class="title" > {{tab.customer4}}</span> <br> <span class="danger" >{{tab.toys4}}</span><br><span class="safe" > {{tab.amount4}} <br> {{tab.GIFTS4}}<br> {{tab.amountg4}}  <br> <hr>
			   <span class="title" > {{tab.customer5}}</span> <br> <span class="danger" >{{tab.toys5}}</span><br> <span class="safe" >{{tab.amount5}} <br> {{tab.GIFTS5}}<br> {{tab.amountg5}}  <br> <hr>
			   <span class="title" > {{tab.customer6}}</span> <br> <span class="danger" >{{tab.toys6}}</span><br><span class="safe" > {{tab.amount6}} <br> {{tab.GIFTS6}}<br> {{tab.amountg6}}  <br> <hr>
			   <span class="title" > {{tab.customer7}}</span> <br> <span class="danger" >{{tab.toys7}}</span><br> <span class="safe" >{{tab.amount7}} <br> {{tab.GIFTS7}}<br> {{tab.amountg7}}  <br> <hr>
			   <span class="title" > {{tab.customer8}}</span> <br> <span class="danger" >{{tab.toys8}}</span><br> <span class="safe" >{{tab.amount8}} <br> {{tab.GIFTS8}}<br> {{tab.amountg8}}  <br> <hr>
			   <span class="title" > {{tab.customer9}}</span> <br> <span class="danger" >{{tab.toys9}}</span><br><span class="safe" > {{tab.amount9}} <br> {{tab.GIFTS9}}<br> {{tab.amountg9}}  <br> <hr>
			   <span class="title" > {{tab.customer10}}</span> <br> <span class="danger" >{{tab.toys10}}</span><br><span class="safe" > {{tab.amount10}} <br> {{tab.GIFTS10}}<br> {{tab.amountg10}}  <br> <hr>
			   <span class="title" > {{tab.customer11}}</span> <br> <span class="danger" >{{tab.toys11}}</span><br> <span class="safe" >{{tab.amount11}} <br> {{tab.GIFTS11}}<br> {{tab.amountg11}}  <br> <hr>
			   <span class="title" > {{tab.customer12}}</span> <br> <span class="danger" >{{tab.toys12}}</span><br><span class="safe" > {{tab.amount12}} <br> {{tab.GIFTS12}}<br> {{tab.amountg12}}  <br> <hr>
			   <span class="title" > {{tab.customer13}}</span> <br> <span class="danger" >{{tab.toys13}}</span><br> <span class="safe" >{{tab.amount13}} <br> {{tab.GIFTS13}}<br> {{tab.amountg13}}  <br> <hr>
			    <span class="title" > {{tab.customer14}}</span> <br> <span class="danger" >{{tab.toys14}}</span><br><span class="safe" > {{tab.amount14}} <br> {{tab.GIFTS14}}<br> {{tab.amountg14}}  <br> <hr>
				<span class="title" > {{tab.customer15}}</span> <br> <span class="danger" >{{tab.toys15}}</span><br><span class="safe" > {{tab.amount15}} <br> {{tab.GIFTS15}}<br> {{tab.amountg15}}  <br> <hr>
				<span class="title" > {{tab.customer16}}</span> <br> <span class="danger" >{{tab.toys16}}</span><br><span class="safe" > {{tab.amount16}} <br> {{tab.GIFTS16}}<br> {{tab.amountg16}}  <br> <hr>
				<span class="title" > {{tab.customer17}}</span> <br> <span class="danger" >{{tab.toys17}}</span><br><span class="safe" > {{tab.amount17}} <br> {{tab.GIFTS17}}<br> {{tab.amountg17}}  <br> <hr>
				<span class="title" > {{tab.customer18}}</span> <br> <span class="danger" >{{tab.toys18}}</span><br><span class="safe" > {{tab.amount18}} <br> {{tab.GIFTS18}}<br> {{tab.amountg18}}  <br> <hr>
			    <span class="title" > {{tab.customer19}}</span> <br> <span class="danger" >{{tab.toys19}}</span><br><span class="safe" > {{tab.amount19}} <br> {{tab.GIFTS19}}<br> {{tab.amountg19}}  <br> <hr>
			    <span class="title" > {{tab.customer20}}</span> <br> <span class="danger" >{{tab.toys20}}</span><br><span class="safe" > {{tab.amount20}} <br> {{tab.GIFTS20}}<br> {{tab.amountg20}}  <br> <hr>
				<span class="title" > {{tab.customer21}}</span> <br> <span class="danger" >{{tab.toys21}}</span><br> <span class="safe" >{{tab.amount21}} <br> {{tab.GIFTS21}}<br> {{tab.amountg21}}  <br> <hr>
				<span class="title" > {{tab.customer22}}</span> <br> <span class="danger" >{{tab.toys22}}</span><br><span class="safe" > {{tab.amount22}} <br> {{tab.GIFTS22}}<br> {{tab.amountg22}}  <br> <hr>
				<span class="title" > {{tab.customer23}}</span> <br> <span class="danger" >{{tab.toys23}}</span><br> <span class="safe" >{{tab.amount23}} <br> {{tab.GIFTS23}}<br> {{tab.amountg23}}  <br> <hr>
				<span class="title" > {{tab.customer24}}</span> <br> <span class="danger" >{{tab.toys24}}</span><br> <span class="safe" >{{tab.amount24}} <br> {{tab.GIFTS24}}<br> {{tab.amountg24}}  <br> <hr>
				<span class="title" > {{tab.customer25}}</span> <br> <span class="danger" >{{tab.toys25}}</span><br><span class="safe" > {{tab.amount25}} <br> {{tab.GIFTS25}}<br> {{tab.amountg25}}  <br> <hr>
				<span class="title" > {{tab.customer26}}</span> <br> <span class="danger" >{{tab.toys26}}</span><br><span class="safe" > {{tab.amount26}} <br> {{tab.GIFTS26}}<br> {{tab.amountg26}}  <br> <hr>
				<span class="title" > {{tab.customer27}}</span> <br> <span class="danger" >{{tab.toys27}}</span><br> <span class="safe" >{{tab.amount27}} <br> {{tab.GIFTS27}}<br> {{tab.amountg27}}  <br> <hr>
				<span class="title" > {{tab.customer28}}</span> <br> <span class="danger" >{{tab.toys21}}</span><br><span class="safe" > {{tab.amount28}} <br> {{tab.GIFTS28}}<br> {{tab.amountg28}}  <br> <hr>
				<span class="title" > {{tab.customer29}}</span> <br> <span class="danger" >{{tab.toys29}}</span><br> <span class="safe" >{{tab.amount29}} <br> {{tab.GIFTS29}}<br> {{tab.amountg29}}  <br> <hr>
			
            
                
        
          </md-tab-body>
    </md-tab>
     
     
    
  </md-tabs>  
</md-card>
  
</div>
  
</html>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js'></script><script  src="./script.js"></script>

</body>
</html>
