<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Customer Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css'>
    <link rel='stylesheet' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css'>
    <style>
        body { background: #f5f5f5; font-size: 14px; }
        .list-group-item { border: none; background: white; margin-bottom: 5px; padding: 10px; word-wrap: break-word; }
        .btn-link { color: #2196F3; text-decoration: none; font-size: 16px; }
        .btn-link:hover { text-decoration: underline; }
        .modal-body img { border: 1px solid #ddd; border-radius: 4px; max-width: 100%; height: auto; }
        hr { border-top: 1px solid #eee; margin: 15px 0; }
        .no-orders { color: #999; font-style: italic; padding: 20px; }
        @media (max-width: 768px) {
            .modal-dialog { width: 95%; margin: 10px auto; }
            .modal-body { padding: 10px; }
            .list-group-item { padding: 8px; }
            .btn { font-size: 12px; padding: 6px 12px; }
            .img-thumbnail { max-width: 120px; }
        }
    </style>
</head>
<body ng-controller="imagesController as vm" class="material-design">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br><br>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Customers</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="customer in vm.customers track by $index">
                                <span class="badge pull-right">{{getOrderCount(customer)}} order{{getOrderCount(customer) !== 1 ? 's' : ''}}</span>
                                <a href="#" class="btn btn-link" ng-click="showOrders(customer)">
                                    <i class="mdi mdi-account"></i> {{customer}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="orderModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="mdi mdi-shopping"></i> Orders for {{vm.selectedCustomer}} ({{vm.selectedOrders.length}})
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-if="vm.selectedOrders.length === 0" class="text-center no-orders">No orders found.</div>
                    <div class="row" ng-repeat="order in vm.selectedOrders track by order.$id">
                        <div class="col-xs-12 col-sm-3">
                            <img ng-src="{{order.field1}}" alt="Order Image" class="img-thumbnail center-block">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h5><strong>Details:</strong></h5>
                            <p>{{order.field3}}</p>
                            <p><strong>Date:</strong> {{order.field4 | date:'mediumDate'}}</p>
                            <a href="https://hunkaammy.github.io/mywebsite/NEWWEBSITE/new#myInput={{order.field2}}" target="_blank" class="btn btn-info btn-sm">
                                <i class="mdi mdi-link"></i> View Link
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-3 text-center">
                            <button class="btn btn-danger btn-sm" ng-click="confirmDelete(order)" ng-disabled="vm.deleting">
                                <i class="mdi mdi-delete"></i> Delete
                            </button>
                            <p class="help-block" ng-if="vm.deleting && order.$id === vm.deletingId">Deleting...</p>
                        </div>
                        <div class="col-xs-12"><hr></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module('myApp', ['firebase']);

        app.controller('imagesController', function ($scope, $firebaseArray, $window) {
            var firebaseConfig = {
                apiKey: "AIzaSyAMFjDnZaszneoR6nO8bmXUxwZJplLvNfU",
                authDomain: "notes-12519.firebaseapp.com",
                databaseURL: "https://notes-12519-default-rtdb.firebaseio.com",
                projectId: "notes-12519",
                storageBucket: "notes-12519.appspot.com",
                messagingSenderId: "1073774450189",
                appId: "1:1073774450189:web:0b6d4a9f95823abbf36744"
            };
            firebase.initializeApp(firebaseConfig);

            var database = firebase.database().ref();
            var list = $firebaseArray(database);

            $scope.vm = this;
            $scope.vm.submittedData = list;
            $scope.vm.customers = [];
            $scope.vm.selectedOrders = [];
            $scope.vm.selectedCustomer = '';
            $scope.vm.deleting = false;
            $scope.vm.deletingId = '';

            list.$loaded().then(function () {
                updateCustomers();
            });

            $scope.$watchCollection('vm.submittedData', function() {
                updateCustomers();
            });

            function updateCustomers() {
                var set = {};
                $scope.vm.submittedData.forEach(function(item) {
                    if (item.field2) set[item.field2] = true;
                });
                $scope.vm.customers = Object.keys(set).sort();
            }

            $scope.getOrderCount = function(customer) {
                return $scope.vm.submittedData.filter(function(item) { return item.field2 === customer; }).length;
            };

            $scope.showOrders = function (customer) {
                $scope.vm.selectedCustomer = customer;
                $scope.vm.selectedOrders = $scope.vm.submittedData.filter(function(item) {
                    return item.field2 === customer;
                });
                $window.$('#orderModal').modal('show');
            };

            $scope.confirmDelete = function (order) {
                if ($window.confirm('Delete this order?')) {
                    $scope.vm.deleting = true;
                    $scope.vm.deletingId = order.$id;
                    list.$remove(order).then(function() {
                        $scope.vm.deleting = false;
                        $scope.vm.deletingId = '';
                        $scope.vm.selectedOrders = $scope.vm.selectedOrders.filter(function(o) { return o.$id !== order.$id; });
                        if ($scope.vm.selectedOrders.length === 0) {
                            $window.$('#orderModal').modal('hide');
                        }
                        updateCustomers();
                    }).catch(function() {
                        $scope.vm.deleting = false;
                        $scope.vm.deletingId = '';
                        alert('Delete failed. Try again.');
                    });
                }
            };
        });
    </script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js'></script>
    <script src='https://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js'></script>
    <script>$.material.init();</script>
</body>
</html>
