<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePen - Upload Images to Firebase 3</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css'>
    <link rel='stylesheet' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css'>
    <link rel='stylesheet' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css'>
</head>
<body>
    <div ng-app="myApp" ng-controller="imagesController as vm">
        <!-- Existing HTML code for uploading images -->
        <div ng-repeat="image in vm.images | orderBy: '-date'">
            {{$index}}
            <input type="text" id="{{'inputa' + $index}}" ng-model="image.url">
            <input type="text" id="{{'inputb' + $index}}" placeholder="Field 2" ng-model="image.field2">
            <input type="text" id="{{'inputc' + $index}}" placeholder="Field 3" ng-model="image.field3">
            <button id="submitButton" ng-click="submitData(image, $index)">Submit</button> <br><br>
        </div>

        <!-- Search input and button for submitted data -->
        <input type="text" ng-model="submittedSearchQuery" placeholder="Search Submitted Data...">
        <button ng-click="searchSubmittedData()">Search</button>

        <div ng-repeat="submittedData in (vm.filteredSubmittedData || vm.submittedData)">
            {{$index + 1}}. Field 1: {{submittedData.field1}}, Field 2: {{submittedData.field2}}, Field 3: {{submittedData.field3}}
            <button ng-click="deleteData(submittedData.$id)">Delete</button><br>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-database.js"></script>

        <script>
            var app = angular.module('myApp', ['firebase']);

            app.controller('imagesController', function ($scope, $firebaseArray) {
                $scope.vm = this;
                $scope.vm.images = [];
                $scope.vm.submittedData = [];

                var firebaseConfig = {
                   apiKey: "AIzaSyAMFjDnZaszneoR6nO8bmXUxwZJplLvNfU",
  authDomain: "notes-12519.firebaseapp.com",
  databaseURL: "https://notes-12519-default-rtdb.firebaseio.com",
  projectId: "notes-12519",
  storageBucket: "notes-12519.appspot.com",
  messagingSenderId: "1073774450189",
  appId: "1:1073774450189:web:0b6d4a9f95823abbf36744",
  measurementId: "G-GZXYCJ33TR"
                };

                var firebaseApp = firebase.initializeApp(firebaseConfig);
                var database = firebaseApp.database().ref();
                var listSubmit = $firebaseArray(database);

                $scope.vm.submitData = function (image, index) {
                    // Existing code for submitting data to Firebase
                };

                listSubmit.$loaded().then(function (data) {
                    $scope.vm.submittedData = data;
                });

                $scope.deleteData = function (dataId) {
                    database.child(dataId).remove();
                };

                // Existing code for image upload and other functions

                // Add a function to filter submitted data based on the search query
                $scope.searchSubmittedData = function () {
                    var query = $scope.submittedSearchQuery.toLowerCase();

                    // Filter the submitted data based on the search query
                    $scope.vm.filteredSubmittedData = $scope.vm.submittedData.filter(function (submittedData) {
                        return submittedData.field1.toLowerCase().includes(query) ||
                               submittedData.field2.toLowerCase().includes(query) ||
                               submittedData.field3.toLowerCase().includes(query);
                    });
                };
            });
        </script>

        <!-- Include your existing script tags here -->

        <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
        <script src='https://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js'></script>
        <script src='https://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js'></script>
        <script src='https://www.gstatic.com/firebasejs/3.4.1/firebase.js'></script>
        <script src='https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js'></script>
    </div>
</body>
</html>
