<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Image Upload App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.2.0/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body ng-controller="imagesController as vm">

  <input type="file" custom-on-change="vm.image($event)" />

  <div ng-repeat="image in vm.images">
    <img ng-src="{{image.url}}" alt="{{image.fileName}}" style="max-width: 200px; max-height: 200px; margin: 10px;" />

    <p>Image Name:
      <span ng-show="!image.editMode">{{image.name}}</span>
      <input ng-show="image.editMode" type="text" ng-model="image.newName" />
    </p>

    <p>Image URL:
      <span ng-show="!image.editMode">{{image.url}}</span>
      <input ng-show="image.editMode" type="text" ng-model="image.newUrl" />
    </p>

    <p>Image Date:
      <span ng-show="!image.editMode">{{image.date}}</span>
      <input ng-show="image.editMode" type="text" ng-model="image.newDate" />
    </p>

    <button ng-click="vm.editImage(image)">Edit</button>
    <button ng-click="vm.downloadImg(image.$id)">Download</button>
    <button ng-click="vm.deleteImg(image.$id)">Delete</button>
  </div>

  <script>
    angular.module('myApp', ["firebase"])
      .run(function () {
        var config = {
          apiKey: "AIzaSyAvlig_xWJNP1hFsl4qfisC01VTkOAVhT8",
          authDomain: "htshop-e9c51.firebaseapp.com",
          databaseURL: "https://htshop-e9c51-default-rtdb.firebaseio.com",
          projectId: "htshop-e9c51",
          storageBucket: "htshop-e9c51.appspot.com",
          messagingSenderId: "653137640907",
          appId: "1:653137640907:web:672fd6a9e85ca448a70a4e",
          measurementId: "G-FJ4Q0FHBEG"
        };
        firebase.initializeApp(config);
      })
      .controller('imagesController', ['$firebaseArray', '$firebaseObject', function ($firebaseArray, $firebaseObject) {
        var vm = this;
        var storageService = firebase.storage();
        var ref = firebase.database().ref();
        vm.images = $firebaseArray(ref);
        vm.deleteImg = deleteImg;
        vm.downloadImg = downloadImg;
        vm.editImage = editImage;

        vm.image = function (event) {
          event.preventDefault();
          var file = event.target.files[0];
          uploadImage(file);
        };

        function uploadImage(file) {
          var random = parseInt(Math.random() * 1000000);
          var refStorage = storageService.ref('uploads').child(random.toString()).child(file.name);
          var uploadTask = refStorage.put(file);

          uploadTask.on('state_changed', null, function (error) {
            console.log('upload error', error);
          }, function () {
            var imageData = {
              url: uploadTask.snapshot.downloadURL,
              bytes: uploadTask.snapshot.totalBytes,
              name: uploadTask.h.name,
              path: uploadTask.h.fullPath,
              date: uploadTask.h.timeCreated,
              fileName: file.name,
              editMode: false,
              newName: file.name,
              newUrl: uploadTask.snapshot.downloadURL,
              newDate: uploadTask.h.timeCreated
            };

            vm.images.$add(imageData).then(function (ref) {
              swal("Success", "Your image has been uploaded", "success");
            });
          });
        }

        function downloadImg(id) {
          var image = $firebaseObject(ref.child(id));
          window.open(image.url, 'Download');
        }

        function deleteImg(id) {
          var image = $firebaseObject(ref.child(id));

          swal({
            title: "Are you sure?",
            text: "Do you want to remove this image?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
          },
            function () {
              var imgRef = storageService.ref(image.path);

              imgRef.delete().then(function () {
                vm.images.$remove(image).then(function (ref) {
                  swal("Deleted!", "Your image has been deleted.", "success");
                });
              }).catch(function (error) {
                console.log('an error occurred!', error);
              });
            });
        }

        function editImage(image) {
          if (image.editMode) {
            // Save changes
            image.editMode = false;

            var imageRef = $firebaseObject(ref.child(image.$id));
            imageRef.name = image.newName;
            imageRef.url = image.newUrl;
            imageRef.date = image.newDate;

            imageRef.$save().then(function (ref) {
              swal("Success", "Image details have been updated", "success");
            });
          } else {
            // Enter edit mode
            image.editMode = true;
            image.newName = image.name;
            image.newUrl = image.url;
            image.newDate = image.date;
          }
        }
      }]);
  </script>
</body>

</html>
