<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Firebase - Todolist</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="manifest" href="/manifest.json"> <script src="/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="todolistApp">
	<h1>To-Do List</h1>
	<div class="todoInputSection">
		<!--prevent 提交不重載頁面-->
		<form @submit.prevent="submitHandler">
			<input 
					 type="text" 
					 placeholder="Add new todo" 
					 v-model.trim="newTodo" 
					 @input="inputTyping" 
					 @keyup.esc="editCancel"					 
					 />
			<span v-if="editOption">
				<button class="doneBtn" @click="editDone()">Done</button>
				<button class="cxlBtn" @click="editCancel">Cxl</button>
			</span>
			<p class="inputWarning" v-html="warningLabel" :class="{emptyWarning: redWarning}"></p>
		</form>
		<button class="addBtn" @click="submitHandler">Add</button>
		<div class="title">
			<h2>List:</h2>
			<span>Date:</span>
		</div>
		<hr>
	</div>

	<ul class="todo-list">
		<li v-for="(todo,idx) in todos">
			<div class="todo">
				<p>
					{{todo.newTodo}}
					
				</p>
				
			</div>
			<!--如果用 {{}} 做資料綁定，HTML TAG 無法作用，必須改用 v-html -->
			
			<span class="date" v-html="getTime(todo.newTime)"></span>
			<button class="editBtn" @click="editHandler(idx)">Edit</button>
			<button class="deleteBtn" @click="removeHandler(idx)">Del</button><br> <br>
		</li>
	</ul>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
