.question {
  vertical-align: top;
  height: auto !important;
  font-family: Helvetica,sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  background-color: pink;
  width: 280px;
  border-radius: 10px;
}

.answer {
  display:none;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.show {
  display: none;
    text-decoration: none;
}

.hide:target + .show {
  display: inline;
  text-decoration: none;
}

.hide:target {
  display: none;
  text-decoration: none;
}

.hide:target ~ .answer {
  display:inline;
  text-decoration: none;

}

@media print {
  .hide, .show {
    display: none;
  }
}
