.start{
		}
		
		 body{
		 min-width:100%;
			width:100%;
			margin:0 auto;
			color:#333;
			padding:0;
			font:"Microsoft Yahei",Verdana,Tahoma;
			text-align:center;
		 }

.container{
    background: white;
    color: black;
    margin: 0 auto;
    position: relative;
  
    z-index: 1;
}
.swiper1 {
        width: 100%;
    }
.swiper1 .selected{
  color:#ec5566;
  border-bottom:2px solid #ec5566;
}
.swiper1 .swiper-slide {
        text-align: left;
		PADDING: 0PX 20PX;
        font-size: 20px;
        height:100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        cursor:pointer;
}

.swiper2 {
    width: 100%;
    height: 100%!important;
    }
.swiper2 .swiper-slide{
  height: 100%!important;
  background-color:white;
  text-align:center;
  padding:80px 0 0 0;
  font-size:25px
}